#delivery-options, #location {
    display: none;
}

.muted {
    font-size: small;
    color: grey;
    font-style: italic;
}

.order {
    display: flex;
    justify-content: space-between;
}

#order-summary {
    display: none;
}