#delivery-options, #location {
    display: none;
}

.muted {
    font-size: small;
    color: grey;
    font-style: italic;
}

.order {
    display: flex;
    justify-content: space-between;
}

#order-summary {
    display: none;
}

#home {
    position: relative; 
    height: 90vh;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#home::before {
    content: "";
    background-image: url('./images/ivan-torres-MQUqbmszGGM-unsplash.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}