#delivery-options, #location {
    display: none;
}

.muted {
    font-size: small;
    color: grey;
    font-style: italic;
}

.order {
    display: flex;
    justify-content: space-between;
}

#order-summary {
    display: none;
}

#home {
    position: relative; 
    height: 90vh;
    width: 100%;
    color: white;
}

#home::before {
    content: "";
    background-image: url('./images/ivan-torres-MQUqbmszGGM-unsplash.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

#brand {
    position: relative;
    margin: auto;
    text-align: center;
}

#brand h1 {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
}

#about {
    height: 30vh;
    background-color: #ECCE8E;
}

#order-section {
    height: 100vh;
    background-color: #DBCF96;
}